@font-face {
  font-family: 'Joystix';
  src: url('fonts/joystix monospace.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #303030;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome-text {
  color: #c269ff;
}

.text-container {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Arial Rounded MT Bold', 'Arial Rounded MT', Arial, sans-serif;
}

.gray-text {
  color: #AAA;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Arial Rounded MT Bold', 'Arial Rounded MT', Arial, sans-serif;
  font-style: italic;
}

.highlight {
  color: gold;
  margin-top: 50px;
}

.currently-listening-to-txt {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;
  font-family: 'Joystix', monospace, sans-serif;
}

.embed-container {
  width: 630px;
  height: 190px;
  padding: 20px;
  background: #1f1f1f;
  border-radius: 60px;
  border: 8px solid black;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  user-select: none;
  margin-top: 50px;
}

.embed-content {
  width: 600px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cecece;
  user-select: none;
}

.toppenguin {
  width: 16rem;
  max-width: 50rem;
  height: auto;
  display: block;
  margin: 1rem auto;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
